.seat-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
   
}

.seat-row {
    display: flex;
    justify-content: center;
}

.seat {
    color:azure;
    width: 40px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e3d5d5;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.seat.selected {
    background-color: #2539d2;
    color: #fff;
}

.confirm-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.confirm-button:hover {
    background-color: #388e3c;
}
.h1{
    text-align: center;
    color:azure;
}